*{
  padding:0;
  margin: 0;
}
html,body{
  padding:0;
  margin:0;
  height: 100vh;
}
a{
  color:whitesmoke;
  text-decoration: none;
}
ul{
  list-style: none;
}
.body{
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header{

}
.content{
  height: 100vh;
  display: flex;
  width: 900px;
  justify-content: center;
  align-items: center;
}
.content-left{
  background-color: #414141;
  width: 300px;
  height: 100vh;
}
.content-left>div{

}
.content-picture{
  margin: 50px 50px;
  height:200px
}
.content-picture>img{
  height: 200px;
}
.content-caption{
  margin: 0px 40px;
  height: 300px;
}
.content-caption-header{
  font-size: 20px;
  font-weight: 600;
}
.content-caption-info{
  margin-top: 30px;
  font-size: 13px;
}
.content-info{
  margin:40px;
}
.content-info>ul>li{
  font-size: 12px;
}
.content-right{
  background-color: white;
  width: 600px;
  justify-content: right;
}

