# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\resume-site\000.作成中\coding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
